body {
    text-align: center;
    background-color: #404040;
}

body > h1 {
    color: gray;
}

.canvas-container {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

.canvas-container > canvas {
    border: 2px solid #696969;
}

.lump {
    width: 50px;
    height: 50px;
    /*background-color: #6b6b6b;*/
    background: -webkit-radial-gradient(center, ellipse cover, #c5fdfb 0%, #3199a2 100%);
    border-radius: 50px;
    border: 3px solid #383838;
}

.arrow-box {
    width: 30%;
    margin: 20px auto;
    min-width: 250px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: flex;
    padding: 15px 18px;
    border-radius: 30px;
    background-color: #fafafa;
    box-shadow: 2px 1px 20px 3px #2d2d2d;
    color: #404040;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-box > .disabled {
    background-color: #7b7b7b;
    color: #545454;
    box-shadow: none;
    cursor: default;
}